.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 511px;
  background-color: var(--dark);
  color: #fff;
  &.home {
    height: 100vh;
  }
  .container {
    width: 100%;
    max-width: var(--container_width);
    text-align: center;
    .headerContent {
      display: inline-block;
      text-align: right;
      .headerTitle {
        position: relative;
        font-size: 64px;
        font-weight: 400;
        line-height: 1.5;
        &:before {
          content: "";
          position: absolute;
          bottom: 16px;
          right: -26px;
          width: 16px;
          height: 16px;
          border: 1px solid #fff;
          border-radius: 50%;
        }
      }
      .headerSubtitle {
        margin-right: -50px;
        font-size: 22px;
      }
    }
  }
}

@media (width < 1200px) {
  .section {
    .container {
      .headerContent {
        padding: 0 16px;
        .headerTitle {
          font-size: 42px;
          &:before {
            bottom: 10px;
            width: 12px;
            height: 12px;
          }
        }
        .headerSubtitle {
          font-size: 20px;
        }
      }
    }
  }
}

@media (width <= 768px) {
  .section {
    &.home {
      height: calc(100vh - 163px);
    }
    .container {
      .headerContent {
        .headerTitle {
          margin-right: 20px;
          font-size: 22px;
          &:before {
            bottom: 10px;
            width: 12px;
            height: 12px;
          }
        }
        .headerSubtitle {
          margin-top: 20px;
          margin-right: 0;
          font-size: 16px;
        }
      }
    }
  }
}
