.welcome_page {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--light);
  .info {
    width: 40%;
    padding: 40px;
    h2 {
      margin-bottom: 20px;
    }

    .inform_message {
      margin-bottom: 30px;
      font-size: 14px;
      color: #646464;
    }

    .no_key {
      font-size: 14px;
      color: #646464;
    }

    form {
      display: flex;
      gap: 10px;
      margin-bottom: 30px;
      input {
        outline: none;
        width: 100%;
        max-width: 270px;
        padding: 10px 30px;
        background: transparent;
        border: 1px solid #5d5d5d;
        border-radius: 4px;
        &.error {
          border-color: red;
        }
      }

      button {
        padding: 10px 30px;
        transition: 500ms background linear, 500ms color linear;
        background-color: #5d5d5d;
        cursor: pointer;
        border: 1px solid #5d5d5d;
        border-radius: 4px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover {
          transition: 500ms background linear, 500ms color linear;
          background: transparent;
          color: #333;
        }
      }
    }
  }

  .keys_image {
    width: 60%;
    height: 100%;  
    background-image: url("../../public/keys.png"); 
    background-color: var(--dark);
    background-position: center center;
    background-size: cover;
  }
}

@media (width <= 1200px) {
  .welcome_page {
    .info {
      width: 50%;
    }

    .keys_image {
      width: 50%;
    }
  }
}

@media (width <= 920px) {
  .welcome_page {
    flex-direction: column-reverse;
    .info {
      flex-grow: 1;
      width: 80%;
    }

    .keys_image {
      width: 100%;
      height: 80px;
      background-position: top;
    }
  }
}

@media (width < 700px) {
  .welcome_page {
    .info {
      width: 100%;
      padding: 24px;
      form {
        input {
          max-width: 100%;
        }
      }
    }

    .keys_image {
      height: 100px;
      background-position: center;
    }
  }
}
