.content_wrapper {
  display: flex;
  gap: 50px;

  .posts {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 25px; 

    h2{
      font-size: 20px;
      font-weight: 400;
    }

    .post_item {
      border: 1px solid #858585;
      border-radius: 8px;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      gap: 20px;

      .post_info {
        padding: 20px;
        h3 {
          font-size: 20px;
          margin-bottom: 16px;
        }

        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
        }
      }

      .post_actions {
        display: flex;
        flex-direction: column;
        gap: 8px;

        div {
          border: 1px solid #858585;
          width: 36px;
          height: 36px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:last-child {
            margin: auto 0 0 0;
          }
        }
      }
    }
  }

  .form_wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;

    h2{
      font-size: 20px;
      font-weight: 400;
    }

    form{
      display: flex;
      flex-direction: column;
      gap: 8px;

      input{
        padding: 10px 12px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #858585;
        outline: none;
      }

      .actions{
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        margin-top: 20px;
        button{
          padding: 10px;
          border-radius: 6px;
          border: 1px solid #333;
          background-color: transparent;
          transition: 300ms linear all;
          cursor: pointer;         
          
          &:last-child{
            transition: 300ms linear all;
            background: #333;
            color: #fff;
          }
        }
      }
    }



  }
}
