.dots {
  display: grid;
  grid-template-columns: 15px 30px;
  position: absolute;
  z-index: 9;
  top: 25px;
  right: 25px;
  width: fit-content;
  transition: grid-template-columns 1s;
  cursor: pointer;
  
  .dot {
    width: 10px;
    height: 10px;
    margin: 3px;
    transition: width 1s;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    &:nth-child(even) {
      width: 20px;
    }
  }

  &.opened {
    grid-template-columns: 15px 20px;
    .dot {
      &:nth-child(even) {
        width: 10px;
        transition: width 1s;
      }
    }
  }
}
